# -*- Mode: Makefile; -*-
#----------------------------------------------------------------------
# $Header: /cvsroot/ant-doxygen/ant_task/conf/Attic/doxygen.cfg,v 1.1.2.1 2004/01/26 01:20:53 jfrotz Exp $
#

ALLEXTERNALS = YES
ALPHABETICAL_INDEX = YES
ALWAYS_DETAILED_SEC = YES
BINARY_TOC = YES
BRIEF_MEMBER_DESC = YES
CALL_GRAPH = YES
CASE_SENSE_NAMES = YES
CLASS_DIAGRAMS = YES
CLASS_GRAPH = YES
COLLABORATION_GRAPH = YES
COLS_IN_ALPHA_INDEX = 5
DETAILS_AT_TOP = YES
DISABLE_INDEX = NO
DOT_CLEANUP = YES
DOT_IMAGE_FORMAT = png
ENABLE_PREPROCESSING = YES
ENUM_VALUES_PER_LINE = 4
EXTRACT_ALL = YES
EXTRACT_LOCAL_CLASSES = YES
EXTRACT_PRIVATE = YES
EXTRACT_STATIC = YES
FILE_PATTERNS = *.java
FULL_PATH_NAMES = NO
GENERATE_AUTOGEN_DEF = YES
GENERATE_BUGLIST = YES
GENERATE_DEPRECATEDLIST = YES
GENERATE_HTML = YES
GENERATE_HTMLHELP = YES
GENERATE_LATEX = NO
GENERATE_LEGEND = YES
GENERATE_TESTLIST = YES
GENERATE_TODOLIST = YES
GENERATE_TREEVIEW = YES
GRAPHICAL_HIERARCHY = YES
HAVE_DOT = NO
HIDE_FRIEND_COMPOUNDS = NO
HIDE_IN_BODY_DOCS = NO
HIDE_SCOPE_NAMES = NO
HIDE_UNDOC_CLASSES = NO
HIDE_UNDOC_MEMBERS = YES
HIDE_UNDOC_RELATIONS = NO
HTML_ALIGN_MEMBERS = YES
HTML_FILE_EXTENSION = .html
HTML_FOOTER = 
HTML_HEADER = 
HTML_OUTPUT = html
HTML_STYLESHEET = 
INCLUDED_BY_GRAPH = YES
INCLUDE_GRAPH = YES
INHERIT_DOCS = YES
INLINE_INFO = YES
INLINE_INHERITED_MEMB = NO
INLINE_SOURCES = YES
INPUT = src
INTERNAL_DOCS = YES
JAVADOC_AUTOBRIEF = NO
MAX_DOT_GRAPH_DEPTH = 0
MAX_DOT_GRAPH_HEIGHT = 1024
MAX_DOT_GRAPH_WIDTH = 1024
MAX_INITIALIZER_LINES = 30
MULTILINE_CPP_IS_BRIEF = NO
OPTIMIZE_OUTPUT_FOR_C = NO
OPTIMIZE_OUTPUT_JAVA = YES
OUTPUT_DIRECTORY = doc
OUTPUT_LANGUAGE = English
PAPER_TYPE = letter
PDF_HYPERLINKS = NO
PROJECT_NAME = Ant Doxygen
PROJECT_NUMBER = 1.3
QUIET = YES
RECURSIVE = YES
REFERENCED_BY_RELATION = YES
REFERENCES_RELATION = YES
REPEAT_BRIEF = YES
SEARCHENGINE = NO
SEARCH_INCLUDES = YES
SHORT_NAMES = NO
SHOW_INCLUDE_FILES = YES
SHOW_USED_FILES = YES
SORT_MEMBER_DOCS = YES
SOURCE_BROWSER = YES
STRIP_CODE_COMMENTS = NO
STRIP_FROM_PATH = 
SUBGROUPING = YES
TAB_SIZE = 8
TEMPLATE_RELATIONS = YES
TOC_EXPAND = YES
TREEVIEW_WIDTH = 250
UML_LOOK = NO
USE_WINDOWS_ENCODING = YES
VERBATIM_HEADERS = NO
WARNINGS = YES
WARN_FORMAT = "$file:$line: $text"
WARN_IF_DOC_ERROR = YES
WARN_IF_UNDOCUMENTED = YES
WARN_LOGFILE = doxygen.log

